@page
@model PersonalDataModel
@{
    ViewData["Title"] = Text.Delete;
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">@Text.Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}