<script src="~/js/Notifications.js"></script>
<div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Paziņojumi
</div>
<div class="dropdown-menu" aria-labelledby="navbarDropdown" id="notificationDropdown">
</div>
