@using Microsoft.AspNetCore.Identity
@using LogicCore
@{
    ViewData["Title"] = Text.ApplicationName;
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center h-100">
        <div class="container-fluid h-100 w-100">
            <div class="row h-50">
                <div class="col-12 col-lg-6 p-1">
                    <a class="nav-link text-dark border rounded border-dark py-5 h1" asp-area="" asp-controller="Team" asp-action="Index"><strong>@Text.Team</strong></a>
                </div>

                <div class="col-12 col-lg-6 p-1">
                    <a class="nav-link text-dark border rounded border-dark py-5 h1" asp-area="" asp-controller="Training" asp-action="Index"><strong>@Text.Trainings</strong></a>
                </div>
            </div>

            <div class="row h-50">
                <div class="col-12 col-lg-6 px-1">
                    <a class="nav-link text-dark border rounded border-dark py-5 h1" asp-area="" asp-controller="Exercises" asp-action="Index"><strong>@Text.Exercises</strong></a>
                </div>

                <div class="col-12 col-lg-6 px-1">
                    <a class="nav-link text-dark border rounded border-dark py-5 h1" asp-area="" asp-controller="Competitions" asp-action="Index"><strong>@Text.Competition</strong></a>
                </div>
            </div>
        </div>
    </div>
}
else
{ 

}